---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection, type CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import Footer from "../components/Footer.astro";
const projects = await getCollection('projects');


---


<BaseLayout>
<div id="smooth-wrapper">
    <div id="smooth-content">
      <main id="primary" class="site-main">
        <div class="space-for-header"></div>
        <!-- start: Breadcrumb Section -->
        <section class="tj-page-header section-gap-x" data-bg-image="assets/images/about/about-us-2.jpg">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="tj-page-header-content text-center">
                  <h1 class="tj-page-title">Portfolio</h1>
                  <div class="tj-page-link">
                    <span><i class="tji-home"></i></span>
                    <span>
                      <a href="index.html">Home</a>
                    </span>
                    <span><i class="tji-arrow-right"></i></span>
                    <span>
                      <span>Portfolio</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-header-overlay" data-bg-image="assets/images/shape/pheader-overlay.webp"></div>
        </section>
        <!-- end: Breadcrumb Section -->

        <!-- start: Project Section -->
        <section class="tj-project-section section-gap">
          <div class="container">
            <div class="row row-gap-4">
              {projects.map((project) => (
                           <div class="col-xl-4 col-md-6">
                <div class="project-item wow fadeInUp" data-wow-delay=".1s">
                  <div class="project-img">
                 {project.data.heroImage && <Image width={1020} height={510} src={project.data.heroImage} alt="" />}
                    
                  </div>
                  <div class="project-content">
                    <span class="categories w-full"><a href={"/project/"+project.id}>{project.data.name}</a></span>
                    <div class="project-text">
                      <h4 class="title"><a href={"/project/"+project.id}>{project.data.longName}</a></h4>
                      <a class="project-btn" href={"/project/"+project.id}>
                        <i class="tji-arrow-right-big"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              ))}
   
        
          
     
            </div>
            <!-- <div class="tj-pagination d-flex justify-content-center">
              <ul>
                <li>
                  <span aria-current="page" class="page-numbers current">1</span>
                </li>
                <li>
                  <a class="page-numbers" href="#">2</a>
                </li>
                <li>
                  <a class="page-numbers" href="#">3</a>
                </li>
                <li>
                  <a class="next page-numbers" href="#"><i class="tji-arrow-right-long"></i></a>
                </li>
              </ul>
            </div> -->
          </div>
        </section>
        <!-- end: Project Section -->

        <!-- start: Cta Section -->
        <section class="tj-cta-section">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="cta-area">
                  <div class="cta-content">
                    <h2 class="title title-anim">Let’s Build Future Together.</h2>
                    <div class="cta-btn wow fadeInUp" data-wow-delay=".6s">
                      <a class="tj-primary-btn btn-dark" href="contact.html">
                        <span class="btn-text"><span>Get Started Now</span></span>
                        <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                      </a>
                    </div>
                  </div>
                  <div class="cta-img">
                    <img src="assets/images/cta/cta-bg.webp" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end: Cta Section -->
      </main>

      <!-- start: Footer Section -->
    <Footer/>
      <!-- end: Footer Section -->
    </div>
  </div>

</BaseLayout>
