---
import { getCollection, type CollectionEntry } from 'astro:content';
const services = await getCollection('services');




---   
   <div class="col-lg-4">
                <div class="tj-main-sidebar slidebar-stickiy">
                  <div class="tj-sidebar-widget service-categories wow fadeInUp" data-wow-delay=".1s">
                    <h4 class="widget-title">More services</h4>
                    <ul>
                        {services.map((service) => (
                          <li><a href={"../service/" + service.id}>{service.data.name}<span class="icon"><i
                              class="tji-arrow-right"></i></span></a></li>
                        ))}

                  
                      
                    </ul>
                  </div>
                  <div class="tj-sidebar-widget widget-feature-item wow fadeInUp" data-wow-delay=".3s">
                    <div class="feature-box">
                      <div class="feature-content">
                        <h2 class="title">Modern</h2>
                        <span>Home Makeover</span>
                        <a class="read-more feature-contact" href="tel:8321890640">
                          <i class="tji-phone-3"></i>
                          <span>+8 (321) 890-640</span>
                        </a>
                      </div>
                      <div class="feature-images">
                        <img src="assets/images/service/service-ad.webp" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>